/* This is css for a navbar that is on the top of the screen towards the right */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #e70404;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

/* Make the logo 45px by 45px class name = navbar__logo */
.navbar__logo {
  height: 35px;
  width: 35px;
}

/* Make the logo 45px by 45px class name = navbar__logo-img*/
.navbar__logo-img {
  height: 100%;
  width: 100%;
}

/* Make the image (profile pic) to be the most right one */
.navbar .profile-picture {
  border-radius: 50%;
  height: 45px;
}
